* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}

/* Header */

.head {
  height: 55px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 1px 8px 0.3px gray;
  background: #eee;
  align-items: center;
  width: 100%;
}

.left-head {
  vertical-align: middle;
  margin-left: 1rem;
  width: 22rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-head>p {
  font-size: 1.3rem;
  color: #616161;
  vertical-align: middle;
}

.right-head {
  vertical-align: middle;
  margin-right: 20px;
}

.logo-class {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Header */

/* Section */
.low-text {
  margin-top: 15px;
  text-align: center;
  width: 100%;
}

.bold {
  font-size: 2rem;
  color: #009688;
}

.small {
  color: #9a9a9a;
  font-size: 1rem;
}

.big-image-slides {
  margin-top: 20px;
  transition: 300ms ease-in-out;
}

.slide-images {
  width: 70%;
  height: 70%;
  object-fit: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;

}

/* Section */


/* Grid Section */
.grid-section {
  width: 100%;
  margin-top: 1.5rem;
  box-shadow: 0px 0px 4px 0px rgb(158, 158, 158);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.8rem;
  row-gap: 0.6rem;
  margin-bottom: 4px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.main-grid-div {
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 4px 0px rgb(202, 202, 202);
  padding-top: 1.5rem;
  height: 27rem;
}

.Product-info {
  font-size: 0.9rem;
}

.image-grid {
  margin-bottom: 10px;
}

.image-grid-do {
  width: 255px;
  height: 255px;
  object-fit: cover;
}

.price {
  margin-top: 4rem;
  font-size: 0.9rem;
  text-align: start;
  color: orangered;
  margin-left: 8px;
}

/* Grid Section */


.text-footer {
  font-size: 12px;
  color: #868f8b;
  margin-top: 3px;
}

.footer-img {
  width: 18px;
  height: 18px;
}

.flex-class {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

/* Footer */


/* search */

.search-bar-header {
  text-align: center;
  margin-top: 0.8rem;
}

.search-bar {
  width: 90%;
  padding: 0.8rem 0.4rem;
  border: none;
  color: rgba(0, 0, 0, .87);
  font-size: 14px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  transition: background .3s cubic-bezier(.25, .8, .5, 1);
  border-radius: 2px;
}

/* search */

/* Me */

.me-header {
  height: 56px;
  width: 100%;
  padding: 0 15px;
  background: #009688;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);
}

.header-div {
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

.me-left-text {
  color: white;
  font-size: 20px;
  vertical-align: middle;
}

.login-page {
  padding: 2rem;
  box-sizing: border-box;
}

.mobile {
  width: 100%;
  height: 48px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  padding: 0 12px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  line-height: 48px;
  margin-bottom: 7px;
}

.mobile-img {
  width: 20px;
  height: 20px;
}

.mobile-inp {
  font-size: 1rem;
  width: 90%;
  padding: 0.4rem 0.8rem;
  border: none;
  outline: none;
}

.btn-me {
  width: 240px;
  height: 44px;
  background-color: #009688;
  color: white;
  font-size: 14px;
  border: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  margin-bottom: 1.5rem;
}

.btn-me-1 {
  padding: 0 15px;
  height: 40px;
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, .87);
  font-size: 14px;
  border: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
}

#mobile-text {
  font-size: 12px;
  color: red;
  margin-left: 30px;
  font-weight: 500;
}


.mobile-js {
  width: 100%;
  height: 48px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12);
  padding: 0 12px;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  position: relative;
  line-height: 48px;
  margin-bottom: 15px;
}


/* Me */

@media screen and (max-width: 480px) {
  .left-head {
    width: 14rem;
  }

  .left-head>p {
    font-size: 1.2rem;
  }

  .grid-section {
    width: 100%;
    margin-top: 1.2rem;
    box-shadow: 0px 0px 4px 0px rgb(158, 158, 158);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.6rem;
    row-gap: 0.4rem;
    margin-bottom: 4px;
    padding: 1rem;
    margin-bottom: 2rem;
  }

  .main-grid-div {
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 4px 0px rgb(202, 202, 202);
    padding-top: 1.5rem;
    height: 25rem;
  }

  .image-grid-do {
    width: 90%;
    height: 200px;
  }

}

button {
  all: unset
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}

/* Header */

.mine-header {
  height: 13rem;
  background-color: #009688;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  transition: .3s cubic-bezier(.25, .8, .5, 1);
  margin-bottom: 1rem;
  border-radius: 0.15rem;
}

.user-details {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 15px;
  height: 60px;
  align-items: center;
  padding-top: 15px;
}

.left {
  display: flex;
  width: 13rem;
  justify-content: space-between;
  align-items: center;
}

.left-img {
  width: 40px;
  height: 40px;
  border-radius: 999px;
  box-shadow: 1px 2px 8px 0.1px rgb(71, 70, 70);
}

.user-name {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}

.user-id {
  color: white;
  font-size: 14px;
}

.nine {
  border-radius: 999px;
  width: 40px;
  height: 40px;
}

.bell {
  border-radius: 999px;
  width: 21px;
  height: 21px;
}

.right {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  padding-top: 8px;
  text-align: center;
}

.money {
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.balance,
.commission,
.intrest {
  text-align: center;
  color: white;
  font-size: 14px;
}

.balance>p,
.commission>p,
.intrest>p {
  margin-top: 4px;
}

.btn-balance {
  margin-top: 4px;
  background-color: rgb(51, 131, 223);
  padding: 0.5rem 0.8rem;
  border: none;
  color: white;
}

.btn-commission {
  margin-top: 4px;
  background-color: rgb(51, 131, 223);
  padding: 0.5rem 1.8rem;
  border: none;
  color: white;
}

.btn-intrest {
  margin-top: 4px;
  background-color: rgb(51, 131, 223);
  padding: 0.5rem 1.8rem;
  border: none;
  color: white;
}

/* Header */

/* Footer */

.footer-div {
  width: 100%;
  height: 50px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, .12);
}


/* Footer */

.signIn {
  width: 25px;
  height: 25px;
  margin-right: 1.2rem;
}

.list-text {
  color: rgba(0, 0, 0, 0.753);
}

.list-down {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

.main-options {
  margin-bottom: 2rem;
}

.flex-box {
  display: flex;
  width: 100%;
  height: 3.2rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.4rem;
}

.left-side-flex {
  display: flex;
  width: 15rem;
  align-items: center;
}

.wallet-click {
  cursor: pointer;
}

.wallet-click:hover {
  background-color: rgb(238, 238, 238);
}

.logout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logout-btn {
  width: 50%;
  padding: 0.7rem 0;
  font-size: 0.9rem;
  box-shadow: 1px 1px 5px gray;
  margin-bottom: 6rem;
  background-color: rgb(241, 241, 241);
  text-align: center;
  border: none;
  color: rgb(75, 73, 73);
}

.wallet-right-img {
  height: 11px;
  width: 11px;
  opacity: 0.6;
  margin-right: 0.3rem;
}

.list-u {
  margin-left: 4.6rem;
}

.list-p {
  color: rgb(70, 70, 70);
  height: 3rem;
  width: 100%;
  font-size: 0.97rem;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none
}

.js-list-new {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  margin-left: 4.6rem;
  display: none;
}

.js-list-new-class {
  display: block;
}

.js-list-upper {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  margin-left: 4.6rem;
  display: none;
}

.js-list-upper-class {
  display: block;
}


.js-list-last {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
  margin-left: 4.6rem;
  display: none;
}

.js-list-last-class {
  display: block;
}

.wallet-click-new {
  cursor: pointer;
}

.wallet-click-new:hover {
  background-color: #e9f0ec;
}


.wallet-click-upper {
  cursor: pointer;
}

.wallet-click-upper:hover {
  background-color: #e9f0ec;
}

.wallet-click-last {
  cursor: pointer;
}

.wallet-click-last:hover {
  background-color: #e9f0ec;
}


@media screen and (max-width: 480px) {
  .left {
    width: 12rem;
  }

  .user-details {
    padding-left: 20px;
    padding-right: 10px;
  }
}











.header-text {
  font-size: 1.4rem;
  color: white;
  margin: 0px 1rem;
}


.main-box {
  padding: 1rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.verification {
  width: 90%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: white;
}

.btn-otp {
  width: 100%;
  border: none;
  font-size: 1rem;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}


input:focus,
textarea:focus,
select:focus,
input:focus,
#hello-input:focus {
  outline: none;
  font-size: 0.8rem;
}



.header {
  height: 60px;
  background-color: #009688;
  display: flex;
  align-items: center;
}

.header1 {
  display: flex;
}



.left-arrow {
  height: 25px;
  width: 25px;
  margin-left: 1rem;
}

.logo {
  height: 25px;
  width: 25px;
}

.mobile-number {
  width: 90%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
    0 2px 2px 0 rgba(0, 0, 0, .14),
    0 1px 5px 0 rgba(0, 0, 0, .12)
}

#hello-input {
  border: none;
  font-size: 1rem;
  padding: 0.6rem 0.8rem;
  width: 90%;
}


.privacy {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.check-box {
  width: 1rem;
  height: 1rem;
  font-size: .8rem;
  line-height: 1.25;
  margin-right: 0.5rem;
}

.btn-register {
  width: 60%;
  height: 2.5rem;
  font-size: 0.9rem;
  color: white;
  background-color: #009688;
  border: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}